body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ccc;
	font-family: monospace;
}

::selection {
	background: rgba(0,0,0,0);
}

.calculator-wrp{
	min-width: 280px;
	height: 360px;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0.15) 100%);
	overflow: hidden;
	margin: 0 auto;
}

.display-wrp{
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: rgb(255,255,255);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.15);
	height: 55px;
}

.display, .mock-display{
	position: absolute;
	min-width: 240px;
	height: 55px;
	text-align: right;
	padding: 0px 20px;
	line-height: 55px;
	font-size: 50px;
	overflow: hidden;
	white-space: nowrap;
	outline: none;
	right: 0;
}

.mock-display{
	top: 50px;
	right: 0;
}

.show .display, .show .mock-display{
	-webkit-transition: top .2s;
}

.show .display{
	top: -50px;
}

.show .mock-display{
	top: 0;
}

.display-wrp .quick-btn-wrp{
	position: relative;
	width: 0px;
	height: 0px;
	z-index: 999;
}

.display-wrp .quick-btn{
	-webkit-transition: left .2s ease-in-out 0;
	position: absolute;
	left: -28px;
	width: 27px;
	height: 28px;
	border-right: 1px solid rgba(255,255,255,.3);
	cursor: pointer;
	background: rgb(192,192,192) ;
}

.display-wrp .quick-btn i{
	display: block;
	margin: 5px;
	line-height: 16px;
	height: 16px;
	width: 16px;
}

.display-wrp:hover .quick-btn{
	left: 0;
}

.display-wrp .clear{
	top: 0px;
}


.display::selection {
	background: rgba(0,0,0,.9);
	color: #fff;
}

.btn-wrp{
	display: -webkit-flexbox;
	margin: 0 auto 10px;
	padding: 0 10px;
	width: 260px;
}

.btn-wrp > .btn{
	position: relative;
	-webkit-box-flex: 1;
	margin-right: 10px;
	min-width: 55px;
	height: 55px;
	border-radius: 10px;
	text-align: center;
	line-height: 55px;
	font-size: 50px;
	color: #fff;
	text-shadow: 0px -1px 1px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.3);
	background: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 100%);
	cursor: pointer;
	border: 1px solid rgba(255,255,255,.3);
	-webkit-transition: all .1s;
}


.btn span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 55px;
	display: block;
	border-radius: 10px;
	-webkit-transition: all 1s;
	z-index: 0;
	text-decoration: none;
}

.btn.current{
	background: #FF4E00;
}

.btn.current span{
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%); 
}

.btn-wrp > .btn:hover{
	box-shadow: 0px 1px 4px rgba(0,0,0,.5), inset 0px 1px 4px rgba(0,0,0,0);
}

.btn-wrp > .btn:hover.pressed{
	box-shadow: 0px 1px 4px rgba(0,0,0,0), inset 0px 1px 4px rgba(0,0,0,.5);
}

.top-bar{
	position: absolute;
	height: 1px;
	height: 23px;
	bottom: -10px;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0);
	opacity: .3;
	-webkit-transition: all .4s ease-out .3s;
}

.top-bar:hover{
	opacity: 1;
	bottom: 0;
	background: rgba(0,0,0,.3);
	z-index: 1000;
}

.top-bar a{
	width: 16px;
	height: 16px;
	margin: 5px;
	float: left;
	cursor: pointer;
	display: block;
}

.clear{
	background:url(quick-btns.png); 
	background-position: 0px -16px;
}

.backspace{
	background:url(quick-btns.png); 
	background-position: -16px -16px;
}



.top-bar .setting{
	background: url(quick-btns.png) -32px 0;
	float: right;
}





